@-ms-viewport {width: device-width;}


body {margin: 0;
    }


/*page1*/
.page1{
  height:100vh;
  width: 100vw;
  background: url(images/1denys-nevozhai-185489.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 0;
}

.no-touch .page1 {
  background-attachment: fixed;
}


.page1icons ul {
  list-style-type: none;
  margin-right: 0vw;
  margin-top: 43vh;
  position: fixed;
  right: 5px;
  line-height: 2;
  z-index: 1;
}

.page1icons ul li {
  line-height: 3;
}


/*sizing icons on page 1*/
.page1iconsize {
  overflow: hidden;
  height: 3vh;
  width: auto;
}


a, a:hover, a:focus {
  text-decoration: none;
}

.svg-wrapper {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px;
  max-height:60px;
  cursor:default;
}

/*commented properties for desktop*/
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 2px;
  fill: transparent;
  stroke: black;
  border-bottom: 1px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.main-text {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 8px;
  color: black;
  top: -48px;
  position: relative;
  text-align:center;
  text-decoration: none;
}

.description-text {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.7rem;
    text-decoration: none;
    color: black;
    position: relative;
    text-decoration: none;
    /*top: 21%;*/
    text-align: center;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

/*page 2*/
.page2wrap {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.page2image {
  position: absolute;
  z-index: -1;
  height:100%;
  width: 100%;
  background: url(images/vigi.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 0;
  /*opacity: 0.15;*/
}

.no-touch .page2image {
  background-attachment: fixed;
}

.page2content {
  
}

/*make the navbar horizontal because JS fixed has width of 0*/
#stickytypeheader {
  width: 100%;
  z-index: 1;
  text-weight: bold;
  background-color: white;
  opacity: 0.98;
}

.navbar ul {
  list-style-type: none;
  margin-top: 1vh;
  text-align: center;
}

.navbar ul li a {
  font-family: 'Julius Sans One', sans-serif;
  color: #050500;
  text-decoration: none;
  float: left;
  display: inline;
  font-size: 0.9rem;
  margin-left: -1vw;
}

.navbar a:link,
.navbar a:visited {
  display: inline-block;
  padding: 3vmin;
}

.navbar a:hover
 {
  color: #FF6600;
  margin-top: 0;

}

.articlepage2{
  margin-left: 10%;
  margin-right: 10%;
  
}

.articlepage2 content {
  text-align: center;
  width: 50%;
}

.articlepage2 content h3 {
  color: #FF6600;
  clear: both;
  text-align: center;
  margin-top: 60px;
  font-size: 1.8rem;
  margin-bottom: 0;
  padding-bottom: 1%;
}

.articlepage2 content p {
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  margin-top: -8%;
}

.coderfactoryacademy a {
  color: #FF6600;
  text-decoration: underline;
}


.resumeandclick a:hover {
  background-color: #FF6600;
}

.resume img {
  width: 40vw;
    margin-right: auto;
    margin-left: auto;
    display: block;
}


/*page 3*/
.page3wrap {
  position: relative;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 0;
  min-height: 100vh;
}

.page3content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.page3image {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: url(images/william-iven-19843.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 0;
  opacity: 0.15;
}

.no-touch .page3image {
  background-attachment: fixed;
}

/*dev skills*/
.skillnames {
  font-family: 'Julius Sans One', sans-serif;
  color: #050500;
  display: inline;
  width: 100%;
}

.technical {
  font-size: 2.5vmax;
  height: 1.2em;
  margin-top: 53px;
  text-align: center;
  background-color: #FF6600;
  color: white;
}

.management {
  font-size: 2.5vmax;
  height: 1.2em;
  margin-top: 10px;
  margin-bottom: 2%;
  text-align: center;
  background-color: #FF6600;
  color: white;
}

.life {
  font-size: 2.5vmax;
  height: 1.2em;
  padding-right: 3%;
  margin-top: 10px;
  margin-bottom: 2%;
  text-align: center;
  background-color: #FF6600;
  color: white;
}

.line {
  display: none;
}

.line1 {
  text-align: center;;
  font-size: 3vmin;
  color: #050500;
}

.line2 {
  text-align: center;
  font-size: 3vmin;
  color: #050500;
}

.line3 {
  text-align: center;
  font-size: 3vmin;
  color: #050500;
}

.line4 {
  text-align: center;
  font-size: 3vmin;
  color: #050500;
}

.line5 {
  text-align: center;
  font-size: 3vmin;
  color: #050500;
}

.page3content h3 {
  font-family: 'Julius Sans One', sans-serif;
  color: #FF6600;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 0;
}

.projects {
  margin-left: auto;
  margin-right: auto;
  height: 49vh;
}

.projects p {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 0.7rem;
  margin-top: 1%;
  margin-bottom: 1%;
}

.loyaltycard p {
  text-align: center;
}

.stuckinspace p {
  text-align: center;
  margin-top: 18px;
}

.line {
  color: #FF6600;
  margin-top: -2vh;
  margin-bottom: -1vh;
}

.loyaltycard {
  display: inline;
}

.imgloyalty {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 0;
  margin-bottom: -2vh;
  height: 15vh;
  width: auto;
}


.stuckinspace {
  display: inline;
}

.imgspace {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 0;
  margin-bottom: 1vh;
  height: 15vh;
  width: auto;
}

/*page 4*/
.page4wrap {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.page4image {
  position: absolute;
  top: 0;
  z-index: -1;
  height:100%;
  width: 100%;
  background: url(images/dowork.jpg) no-repeat center center;
  background-color: white;
  background-size: cover;
  opacity: 0.15;
  margin-bottom: 0;
}

.no-touch .page4image {
  background-attachment: fixed;
}

.page4content h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.4rem;
  color: #FF6600;
  text-align: center;
  margin-top: 62px;
  margin-bottom: 0;
}

.page4p {
  margin-top: 9%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.chocolatreeandclick {
  display: inline;
}

.coffylosophyandclick {
  display: inline;
}

.chocolatree {
  width: 60vw;
  height: auto;
  margin-left: 14vw;
  margin-right: 4vw;
  margin-top: 3vh;
}

.coffylosophy {
  width: 60vw;
  height: auto;
  margin-left: 14vw;
  margin-right: 4vw;
  margin-top: 5vh;
}

.click1 {
  height: 3vh;
  margin-left: -3vw;
}

.click2 {
 height: 3vh;
 margin-left: -3vw;
 margin-top: 1vh;
 margin-bottom: 5vh;
}

/*page 5*/

.page5wrap {
    position: relative;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 0;
    min-height: 100vh;
}

.page5image {
  position: absolute;
  top: 0;
  z-index: -1;
  height:100%;
  width: 100%;
  background: url(images/pavan-trikutam-1660.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0.15;
  margin-bottom: 0;
}

.no-touch .page5image {
  background-attachment: fixed;
}

.page5content h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 4vmax;
  color: #FF6600;
  text-align: center;
  margin-top: 53px;
  margin-bottom: 0;
}

.page5content p {
  font-size: 3vmax;
  line-height: 1.5;
  margin-top: 9%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

#contactform {
  width: 100vw;
  margin-top: 5vh;
  text-align: center;
}

#name {
  margin-bottom: 7%;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 0;
  height: 3vh;
  width: 40vw;
  font-size: 2.5vh;
}

#email {
  margin-bottom: 7%;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 0;
  height: 3vh;
  width: 40vw;
  font-size: 2.5vh;
}

#message {
  margin-bottom: 7%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 4vh;
  height: 10vh;
  width: 40vw;
  border-radius: 0;
}

#send {
  font-family: 'Open Sans Condensed', sans-serif;
  border: .5vmin solid #FF6600;
  background-color: #FF6600;
  color: white;
  border-radius: 0;
  font-size: 2vh;
  text-align: center;
}

.favicon {
  text-align: center;
  margin-top: 2vh;
}

.favicon img{
  height: 3vh;
}


/*tablet - greater than 768 px*/

@media screen and (min-width: 450px) {

/*page1*/
  
/*page2*/

  .articlepage2 content h3 {
    margin-top: 80px;
  }

  .articlepage2 content p {
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }

  .resume img {
    width: 30vw;
  }

/*page3*/

  .technical {
    margin-top: 76px;
    font-size: 0.9rem;
  }

  .management {
    font-size: 0.9rem;
  }
  
  .life {
    font-size: 0.9rem;
  }
  

  .page3content h3 {
    margin-top: 30px;
    font-size: 1rem;
    margin-left: -3vw;
  }

  .line1, .line2, .line3,
  .line4, .line5 {
    font-size: 0.9rem;
  }

  .projects {
    width: 80%;
    height: 34vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .projects p {
   margin-bottom: 1vh;
   margin-left: -2%;
   margin-top: 2px;
  }


  .loyaltycard {
    float: left;
    width: 50%;
  }

 .loyaltycard p {
    margin-left: -2%;
 }
  .imgloyalty {
    margin-left: 9%;
    height: 24%;
    width: 80%;
  }

  .stuckinspace {
    display: block;
  }

  .imgspace {
    height: 49%;
    width: 40%;
  }

  .line {
    display: none;
  }

/*page4*/

  .page4p {
    font-size: 1.5rem;
  }

  .page4content h2 {
    margin-top: 90px;
  }

  .page4content p {
    margin-top: 42px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

  .chocolatree {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .coffylosophy {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .click1 {
    position: absolute;
    margin-top: -3vh;
    margin-left: 66vw
  }

  .click2 {
    position: absolute;
    margin-left: 66vw;
    margin-top: -9vh;
  }
  
  /*page5*/

  .page5content h2 {
    margin-top: 90px;
    font-size: 2rem;
  }

  .page5content p {
    margin-top: 60px;
    font-size: 1.3rem;
  }
 
  #name {
    margin-bottom: 20px;
  }

  #email {
    margin-bottom: 20px;
  }

  #message {
    margin-bottom: 20px;
  }  
}


@media screen and (min-width: 750px) {

/*page2*/
  

  .articlepage2 content h3 {
    margin-top: 98px;
    margin-bottom: 1%;
  }

  .articlepage2 content p {
    width: 73%;
    margin-top: -2%;
    margin-left: auto;
    margin-right: auto;
  }

  .resume img {
    width: 25vw;
  }

  .reactjs {
    margin-right: 15%;
  }

  .finance {
    margin-right: 15%;
  }
}

@media screen and (min-width: 1024px) {

  /*pag1*/

  /*page2*/
  .articlepage2 content h3 {
    font-size: 2.5rem;
    margin-bottom: 1px;
    padding-bottom: 1px;
  }
  
  .articlepage2 content p {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 1.5rem;
  }

  .resume img {
    margin-top: 3vh;
    width: 23vw;
  }

  /*page3*/

  .page3content {
    width: 75%;
    margin-left: 10%;
  }

  .technical {
    margin-top: 80px;
    font-size: 1.5rem;
  }

  .management {
    font-size: 1.5rem;
  }
  
  .life {
    font-size: 1.5rem;
  }

  .line {
    display: none;
  }

  .page3content h3 {
    font-size: 2rem;
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  .projects {
    margin-left: 10%;
  }

  .projects p {
    font-size: 1rem;
  }

  .imgloyalty {
    width: 25vw;
    height: auto;
    float: left;
  }

  .imgspace {
    width: 25vw;
    height: auto;
    float: right;
    margin-right: 4%;
  }

  /*page4*/
  
  .page4content h2 {
    margin-top: 10vh;
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .page4content p {
    font-size: 1.7rem;
  }

  /*page5*/
  
  .page5content p {
    font-size: 1.7rem;
  }

}
